._.git
._.github
._DESIGN_SYSTEM.md
._index.html
._LICENSE
._mockup_actualitat.html
._mockup_login.html
._mockup_transparencia.html
._README_FIGMA.md
._README.md
._styles.css
.github/._workflows
.github/workflows/._static.yml
